/*
 * ---------------------------------
 *  DNA_and_RNA Nextflow config file
 * ---------------------------------
 * Default config options for all environments.
 */
params {
  container = 'library://bruce.moran/default/projects:dna_and_rna.centos7.conda'
  outDir = "analysis"
  species = "bos_taurus"
  genome = "UMD3.1"
  intList = null
}

process {
  container = 'library://bruce.moran/default/projects:dna_and_rna.centos7.conda'
}

profiles {
  standard {
    includeConfig 'conf/base.config'
    includeConfig 'conf/genome.config'
    includeConfig 'conf/refs.config'
  }
  conda { process.conda = "$baseDir/environment.yaml" }
  singularity {
    singularity.enabled = true
  }
}

timeline {
  enabled = true
  file = "pipeline_info/DNA_and_RNA.timeline.html"
}

report {
  enabled = true
  file = "pipeline_info/DNA_and_RNA.report.html"
}

trace {
  enabled = true
  file = "pipeline_info/DNA_and_RNA.trace.txt"
}

dag {
  enabled = true
  file = "pipeline_info/DNA_and_RNA.dag.svg"
}
