/*
 * ---------------------------------
 *  DNA_and_RNA Nextflow config file
 * ---------------------------------
 * Default config options for all environments.
 */
params {

  outDir = "DNA_and_RNA"
  intList = null
  help = false
  multiqcConfig = "${baseDir}/bin/dna_and_rna.multiQC_config.yaml"
  multiMetrics = false
  genome = "genome"
  
}

process {
  container = 'library://bruce.moran/default/projects:dna_and_rna.centos7.conda'
}

profiles {
  standard {
    includeConfig 'conf/genome.config'
    includeConfig 'conf/genomes.config'
    includeConfig 'conf/refs.config'
  }
  conda { process.conda = "$baseDir/environment.yaml" }
  singularity {
    singularity.enabled = true
  }
}

timeline {
  enabled = true
  file = "pipeline_info/DNA_and_RNA.timeline.html"
}

report {
  enabled = true
  file = "pipeline_info/DNA_and_RNA.report.html"
}

trace {
  enabled = true
  file = "pipeline_info/DNA_and_RNA.trace.txt"
}

dag {
  enabled = true
  file = "pipeline_info/DNA_and_RNA.dag.svg"
}
