/*
 * ------------------------------------------
 *  Nextflow base config file for DNA_and_RNA
 * ------------------------------------------
 * Imported under the default 'standard' Nextflow
 * profile in: nextflow.config
 */

process {

  container = params.container

}

params {

  multiqcConfig = "$baseDir/bin/dna_and_rna.multiQC_config.yaml"
  //allow switching of multimetrics; turn off on initial run to get results, then on in resume
  multiMetrics = false

}
