/*
 * -------------------------------------------------
 *  Nextflow config file for reference genomes
 * -------------------------------------------------
 * Defines reference genomes, without using iGenome paths
 * Can be used by any config that customizes the base
 * path using $params.refDir / --refDir
 * stolen from nf-core-rnafusion, thanks guys!
 */

params {
  references {
    fa     = "${params.refDir}/${params.vepGenome}/fa/*a"
    fai    = "${params.refDir}/${params.vepGenome}/bwa/*.fai"
    dict   = "${params.refDir}/${params.vepGenome}/fa/*.dict"
    bwa    = "${params.refDir}/${params.vepGenome}/bwa"
    hc_dbs = "${params.refDir}/${params.vepGenome}/hc_dbs"
    dbsnp  = "${params.refDir}/${params.vepGenome}/dbsnp"
    gridss = "${params.refDir}/${params.vepGenome}/gridss"
    pcgr   = "${params.refDir}/${params.vepGenome}/pcgr"
    exome  = "${params.refDir}/${params.vepGenome}/exome"
    wgs    = "${params.refDir}/${params.vepGenome}/wgs"
    cosmic = "${params.refDir}/${params.vepGenome}/cosmic/cancer_gene_census.bed"

    params.refbase = refbass.getVal()
    params.fai = Channel.fromPath("$params.refDir/${params.refbase}.fa.fai").getVal()
    params.dict = Channel.fromPath("$params.refDir/${params.refbase}.dict").getVal()
    params.amb = Channel.fromPath("$params.refDir/${params.refbase}.fa.amb").getVal()
    params.ann = Channel.fromPath("$params.refDir/${params.refbase}.fa.ann").getVal()
    params.bwt = Channel.fromPath("$params.refDir/${params.refbase}.fa.bwt").getVal()
    params.pac = Channel.fromPath("$params.refDir/${params.refbase}.fa.pac").getVal()
    params.sa = Channel.fromPath("$params.refDir/${params.refbase}.fa.sa").getVal()
    params.intlist = Channel.fromPath("$params.refDir/*.genes.interval_list").getVal()
    params.intlist = Channel.fromPath("$params.refDir/${params.intList}").getVal()
    params.dbsnp = Channel.fromPath("$params.refDir/*.vcf.gz").getVal()
    params.dbsnptbi = Channel.fromPath("$params.refDir/*.vcf.gz.tbi").getVal()
    params.star = Channel.fromPath("$params.refDir/STAR_*/", type:'dir').getVal()
    params.vepcache = Channel.fromPath("$params.refDir/.vep/", type:'dir').getVal()

  s}
}
