/*
 * -------------------------------------------------
 *  Nextflow config file for reference genomes
 * -------------------------------------------------
 * Defines reference genomes, without using iGenome paths
 * Can be used by any config that customizes the base
 * path using $params.refDir / --refDir
 * stolen from nf-core-rnafusion, thanks guys!
 */

params {
  references {
    'genome' {
      fa      = "${params.refDir}/bwa/${params.vepGenome}_${params.vepVersion}.fa"
      fai     = "${params.refDir}/bwa/${params.vepGenome}_${params.vepVersion}.fa.fai"
      dict    = "${params.refDir}/bwa/${params.vepGenome}_${params.vepVersion}.dict"
      bwa     = "${params.refDir}/bwa/"
      star_base    = "${params.refDir}/star"
      saf     = "${params.refDir}/saf/${params.vepGenome}_${params.vepVersion}.saf"
      intlist = "${params.refDir}/intlist/${params.vepGenome}_${params.vepVersion}.interval_list"
      refflat = "${params.refDir}/refflat/${params.vepGenome}_${params.vepVersion}.refflat"
      rrna    = "${params.refDir}/rrna/${params.vepGenome}_${params.vepVersion}.rRNA.interval_list"
      vcf     = "${params.refDir}/vcf"
      vep     = "${params.refDir}/.vep"
      exome   = "${params.refDir}/exome"
    }
  }
}
