/*
 * -------------------------------------------------
 *  Nextflow config file for IEHG Genome cluster
 * -------------------------------------------------
 * Imported under the 'standard' Nextflow profile in:
 * nextflow.config
 * change to required for system running
 */

process {

  executor = 'pbs'
  //for PBS over nodes use:
  cache = 'lenient'

  withLabel: lowmem {
    cpus = 2
    memory = 4.GB
    time = 36.h
  }
  withLabel: medmem {
    cpus = 8
    memory = 24.GB
    time = 36.h
  }
  withLabel: highmem {
    cpus = 20
    memory = 64.GB
    time = 36.h
  }
}

//not yet implemented properly
//conda.cacheDir = '/data/genome/conda/nextflow'

singularity {

  cacheDir = '/data/genome/bmoran/singularity/nextflow'
  runOptions = '--bind /data/genome/bmoran:/data/genome/bmoran'

}
