/*
 * ------------------------------------------------
 *  Nextflow references config file for DNA_and_RNA
 * ------------------------------------------------
 * Imported under the default 'standard' Nextflow
 * profile in: nextflow.config
 */

process {

  executor = 'pbs'
  cache = 'lenient'

  withName:downloads {
    cpus = 8
    memory = 24.GB
    time = 36.h
  }
  withName:vepdb_pr {
    cpus = 8
    memory = 24.GB
    time = 36.h
  }
  withName:dictionary_pr {
    cpus = 8
    memory = 24.GB
    time = 36.h
  }
  withName:bwa_index {
    cpus = 8
    memory = 24.GB
    time = 36.h
  }
  withName:exomebed_pr {
    cpus = 8
    memory = 24.GB
    time = 36.h
  }
  withName:vcf_pr {
    cpus = 8
    memory = 24.GB
    time = 36.h
  }
  withName:indexfeaturefile_pr {
    cpus = 8
    memory = 24.GB
    time = 36.h
  }
  withName:star_index {
    cpus = 8
    memory = 24.GB
    time = 36.h
  }
  withName:reflat_pr {
    cpus = 8
    memory = 24.GB
    time = 36.h
  }
  withName:rrna_pr {
    cpus = 8
    memory = 24.GB
    time = 36.h
  }
  withName:gatk4snv_pr {
    cpus = 8
    memory = 24.GB
    time = 36.h
  }
  withName:gtfsaf_pr {
    cpus = 8
    memory = 24.GB
    time = 36.h
  }
}

//conda.cacheDir = '/data/genome/bmoran/conda/nextflow'

singularity {

  cacheDir = '/data/genome/bmoran/singularity/nextflow'
  runOptions = '--bind /data/genome/bmoran:/data/genome/bmoran'

}
params {

  outDir = "DNA_and_RNA"
  exomeBed = false

  //UMD3.1 references used; uncomment/add urls and rename for other organisms
  
  fa = "ftp://ftp.ensembl.org/pub/release-100/fasta/rattus_norvegicus/dna/Rattus_norvegicus.Rnor_6.0.dna.toplevel.fa.gz"
  gtf = "ftp://ftp.ensembl.org/pub/release-100/gtf/rattus_norvegicus/Rattus_norvegicus.Rnor_6.0.gtf.gz"
  cdna = "ftp://ftp.ensembl.org/pub/release-100/fasta/rattus_norvegicus/cdna/Rattus_norvegicus.Rnor_6.0.cdna.all.fa.gz"
  vcf = "ftp://ftp.ensembl.org/pub/release-100/variation/vcf/rattus_norvegicus/rattus_norvegicus.vcf.gz"

  //below must match vep_install params
  vepgenome = "Rnor_6.0"
  vepspecies = "rattus_norvegicus"
  vepversion = "100"

  //STAR splice-junction database overhang size (should be number of bp in read data)
  sjdb = "100"

}
